<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'><link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<header class="header">
    <hgroup>
        <h1>Blood Pressure Recorder</h1>
    </hgroup>
</header>

<section class="demo">


    <dl class="list maki">
        <dt>Select an option :)</dt>
        <dd><a href="https://vk1ls.csb.app">New Patient</a></dd>
              <dd><a href="#">Existing Patient</a></dd>
        <dd><a href="#">Tutorial</a></dd>

    </dl>

</section>

<div class="warning">
    <div class="message">
        <h1>CSS 3D Not Detected :(</h1>
        <p>I couldn't detect your browser's CSS 3D capabilities. If I'm wrong, please <a href="https://github.com/soulwire/Makisu/issues" target="_blank">file an issue</a>, otherwise, try a <a href="www.google.com/chrome" target="_blank">sexier browser</a></p>
    </div>
</div>
<!-- partial -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="{{ url_for('static', filename = 'script.js') }}"></script>

</body>
</html>
